<div flex="100" layout="column" ng-controller="EventosProcedCtrl"  ng-if="user.googleToken">
    <div flex="100" layout="column" ng-if="selectedProcedimentoRealizado">
        <div  flex="none" layout="column" ng-if="evento.local">
            <md-toolbar  flex="none" ng-style="{'background-color': evento.local.color, 'color': evento.local.text_color}">
                  <div class="md-toolbar-tools">
                    <h2>{{evento.dataToolbar}} - {{evento.local.nome}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="select()">
                      <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
                    </md-button>
              </div>
            </md-toolbar>
        </div>
        <md-toolbar flex="none" class="md-accent" ng-if="evento.atividade">
          <div class="md-toolbar-tools">
            <span flex>{{evento.atividade.nome}}</span>
        </div>
        </md-toolbar>
        <form flex="auto" name="procedimentoForm" class="procedimentoForm" layout="column" ng-submit="saveEvento(evento)" ng-hide="isProcessLoading" ng-if="evento.local">
            <div flex="auto" ng-if="evento.atividade" layout="column">
                <div flex="auto" layout="column">
                  <md-progress-linear ng-if="carregandoAtividadesPlanos" md-mode="indeterminate"></md-progress-linear>
                  <div flex="none" layout="row">
                    <md-select placeholder="Procedimentos" ng-model="evento.procedimento" ng-model-options="{trackBy: '$value.pk'}" md-on-open="carregarProcedimentos()"  ng-change="atualizarEvento(evento, $event)" style="min-width: 200px;">
                      <md-option ng-value="procedimento" ng-repeat="procedimento in procedimentos">{{procedimento.nome}}</md-option>
                    </md-select>
                  </div>
                  <div flex="none" layout-padding layout="row">
                    <md-input-container flex="50">
                      <input mdc-datetime-picker="" date="false" time="true" type="text" id="time2"
                      placeholder="Inicio hh:mm" today-text="Agora" cancel-text="Cancelar" ng-change="atualizarEvento(evento, $event)" format="HH:mm" ng-model="evento.horaInicio" class=" md-input"
                      readonly="readonly">
                    </md-input-container>
                    <md-input-container flex="50">
                      <input mdc-datetime-picker="" date="false" time="true" type="text" id="time2"
                      placeholder="Fim hh:mm" today-text="Agora" cancel-text="Cancelar" ng-change="atualizarEvento(evento, $event)" format="HH:mm" ng-model="evento.horaFim" class=" md-input"
                      readonly="readonly">
                    </md-input-container>
                  </div>
                  <md-content  flex="auto" md-scroll-y style="background: transparent; padding: 0" layout="row"  layout-align="start start" layout-wrap   ng-init="getAtividadesPlanos(evento)">
                      <div flex="100" ng-repeat="atividade_plano in atividades_planos">
                        <md-card>
                          <md-list  ng-cloak>
                              <md-list-item   class="noright">
                                  <div class="md-avatar" ng-style="{'background-color': atividade_plano.color, 'color': atividade_plano.text_color,'cursor':'pointer'}"></div>
                                  <p>{{atividade_plano.plano_nome}}</p>
                                  <md-input-container class="md-secondary" ng-style="{'margin-bottom': '0', 'width': '70px', 'margin-right': '0px', 'font-weight': 'bold'}">
                                    <input ng-model="atividade_plano.preco"  placeholder="Valor Und" priceformat="number" casasdecimais="2" prefix="" cents="." thousands="," type="text" style="font-weight: bold; color: rgba(0,0,0,0.54); ">
                                  </md-input-container>
                                  <md-input-container class="md-secondary" ng-style="{'margin-bottom': '0', 'width': '50px', 'margin-right': '0px', 'font-weight': 'bold'}">
                                      <input type="number" step="any"  placeholder="Quant"  name="qtd-{$index}" ng-model="atividade_plano.quantidade" min="0"
                                   max="100" style="font-weight: bold; color: rgba(0,0,0,0.54); "/>
                                  </md-input-container>
                                  <md-icon class="md-secondary" ng-click="saveAtividadePlano(atividade_plano, $event)" aria-label="Save">save</md-icon>
                              </md-list-item>
                          </md-list>
                        </md-card>
                      </div>
                  </md-content>
                  <div layout="column" flex="auto" ng-if="atividades_planos.length == 0 && !evento.carregandoPlanos" layout-padding  layout-align="space-around center">
                          <h3>NENHUM PLANO CADASTRADO</h3>
                  </div>
                </div>
            </div>
        </form>
    </div>
    <div flex="100" layout="column" ng-if="!selectedProcedimentoRealizado">
            <md-toolbar flex="none" ng-style="{'background':'transparent'}" >
                 <div class="md-toolbar-tools">
                   <md-button class="md-icon-button md-accent" aria-label="Settings" ng-click="showSideNav()">
                     <md-icon style="font-size: 20px;">menu</md-icon>
                   </md-button>
                   <span flex>Procedimentos Realizados</span>
                   <md-datepicker ng-model="filter.inicio" md-placeholder="Enter date" md-hide-icons="all" md-open-on-focus class="filterDate" ng-change="getProcedimentosRealizados()"></md-datepicker>
                   <span style="text-align: center;">-</span>
                   <md-datepicker ng-model="filter.fim" md-placeholder="Enter date" md-hide-icons="all" md-open-on-focus class="filterDate" ng-change="getProcedimentosRealizados()"></md-datepicker>
                 </div>
             </md-toolbar>
            <md-progress-linear ng-if="carregandoProcedimentos" md-mode="indeterminate"></md-progress-linear>
            <md-content flex="auto" ng-cloak class="md-padding" layout="row"  layout-align="start start" layout-wrap  md-scroll-y>
            <div flex-xs="100" flex-gt-xs="50" flex-gt-sm="25" layout="column" ng-repeat="procedimentoRealizado in procedimentosRealizados" >
                <md-card ng-click="select(procedimentoRealizado);" style="cursor: pointer;" ng-style="{'background-color': procedimentoRealizado.color, 'color': procedimentoRealizado.text_color}">
                    <md-card-header style="padding-bottom: 5px;min-height: 30px;">
                        <md-card-header-text>
                            <span class="md-title" md-truncate>{{procedimentoRealizado.local}}</span>
                            <span class="md-subhead" md-truncate>{{procedimentoRealizado.titulo}}</span>
                          </md-card-header-text>
                    </md-card-header>
                    <md-card-content style="padding-top: 0px; padding-bottom: 10px">
                        <div flex class="md-caption">
                            <strong>{{procedimentoRealizado.data | date : 'dd/MM/yyyy'}} {{procedimentoRealizado.horaInicio}} - {{procedimentoRealizado.horaFim}}</strong>
                        </div>
                        <div flex class="md-caption">
                            <strong>R$ {{procedimentoRealizado.valor | number : 2}}</strong>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            </md-content>
    </div>
</div>
